@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');


/* -- the core for the pages --*/

body {
    background-color: #1e2228;
    width: 100%;
    height: 100%;

    margin:auto;
}
hr.collum {
    display:block;
    border:0px;                                      
    height:10px;
    width:270px;
    color:#f3d88d;
    border-top: 3px double #fcc632;
    overflow: visible;
}
h1 {
    font-family: "Lato", sans-serif;
    font-style:normal;
    font-size: 18px;
    color: #fcc632;
    line-height: 0px;
    padding: 3px;
}
h2 {
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 22px;
    color: #fcc632;
    line-height: 0px;
    padding:5px;
}
h3 {
    font-family: "Lato", sans-serif;
    font-style:normal;
    font-size: 32px;
    color: #fcc632;
    line-height: 0px;
    padding: 3px;
}
h3.white{
    color:#ffffff;
    padding:0px;
}
h3.black{
    color:#000000;
    padding:0px;
}
h3.italic.white{
    color:#ffffff;
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding:0px;
}
p{
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
p.italic{
    font-style: italic;
}
p.white.italic{
    font-style: italic;
    color: rgb(204, 204, 204);
}
ul{
    list-style-type:square;
    padding:1px;
}
li.title{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #fcc632;
}
li.title.i{
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
}
li.italic{
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
    color: rgb(204, 204, 204);
}

/* ----------------------------------- */

/* -- Components -- */

.smallButton {
    position: relative;
    right: 215px;
    top: 21px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    filter:drop-shadow(0 0 0.95rem #000000b0);
}
.smallButton.github {
    right: -215px;
}
.button {
    font-family: "Lato", sans-serif;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    width:75px;
    height:30px;
    background-color:#fcc632;
    color :rgb(0, 0, 0);
}
.button.large {
    font-size: 14px;
    font-weight: bold;
    width:150px;
    height:40px;
    padding: 3px;
}
.button:hover{
    cursor: pointer;
    border:1px solid #ffffff;
}
.smallButton:hover{
    cursor: pointer;
    filter:drop-shadow(0 0 0.15rem rgba(255, 255, 255, 0.329));
}

/* ----------------- */

/* -- Index -- */

.topBar{
    position: relative;
    top: -40px;
}
.logo {
    image-rendering: crisp-edges;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    filter:drop-shadow(0 0 0.95rem #000000b0);
}
.game-tab{
    grid-template-columns: repeat(auto-fit, minmax(200px, .25fr));
    align-items: center;
    justify-content: center;
}
.littlebox {
    font-family: "Lato", sans-serif;
    margin: 15px auto 0 auto;
    width: 560px;
    height: 40px;
    padding: 2px;
    background: #fcc632;
    display:block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.gameBox{
    margin: 15px auto 0 auto;
    width: 250px;
    height: 250px;
    padding: 2px;
    border: solid 1px transparent;
    filter:drop-shadow(0 0 0.95rem #000000b0);
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.gameBox.border{
    border: 1px solid #fcc632;
}
.gameBox:hover{
    cursor: pointer;
    border: 1px solid #fcc632;
}
.gameBox.little{
    width: 125px;
    height: 125px;
    padding: 0px;
    border: solid 1px transparent;
}
.gameBox.little.border{
    border: 1px solid #fcc632;
}
.img__wrap{
    padding: 0px;
    margin: 15px auto 0 auto;
    position: relative;
    display: inline-block;
    width:125px;
    height:125px;
}
.img__img{
    vertical-align: bottom;
}
.img__description_layer {
    position: absolute;
    top: 8;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}
  
.img__description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
}
  
.img__wrap:hover .img__description {
    transform: translateY(0);
}

/* ---------------------------------- */

/* -- Game Page -- */

.videoBox{
    width: 720px;
    height: 415px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding:30px;
}
.gamePageBox{
    background-color: #12151a;
    margin: auto;
    padding: 20px;
    width: 800px;
}
.collums{
    margin: auto;
    justify-content: center;
    image-rendering: crisp-edges;
    align-items: center;
    padding:20px;
}
.screenShot{
    width: 125px;
    height: 125px;
    padding: 0px;
    filter:drop-shadow(0 0 0.65rem #000000b0);
    display:block;
    justify-content: center;
}
.featureCollums{
    margin:1rem auto;
    width:min(90%,25rem);
    display:grid;
    grid-template-columns: 50%50%;
}
.featureScreenshots{
    margin:12rem auto;
    width:min(90%,125rem);
    display:grid;
    grid-template-columns: auto;
}

/* ------------------------------ */

/* -- Projects Page -- */

.projectsCollum{
    display: inline-grid;
}
.projectBox{
    background-color: white;
    width: 200px;
    height: 200px;
    border: solid 1px #fcc632;
    filter:drop-shadow(0 0 0.95rem #000000b0);
}
.projectBox:hover{
    cursor:pointer;
    width: 205px;
    height: 205px;
    border: solid 2px #fcc632;
}
.projectSidebox{
    justify-content: center;
    align-content: center;
    align-items: center;
    border:solid 1px #fcc632;
    margin-left: 120px;
    margin-top: -160px;
    background-color: #12151a;
    width:450px;
    height:150px;
}
.projectSideboxText{
    text-indent: 85px;
    text-align: left;
    margin-top: 50px;
}
.projectSideboxBar{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: -160px;
    background-color: #fcc632;
    width: 450px;
    height: 50px;
}
.projectSideboxBarText{
    text-indent: 85px;
    text-align: left;
    margin-top: -8px;
}
.projectDatebar{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 495px;
    margin-top: -85px;
    background-color: #fcc632;
    width: 75px;
    height: 75px;
}

/* ------------------------------ */

/* -- Tools Page -- */
.toolsCollum{
    display: grid;
    grid-template-columns: 33%33%33%;
}

.toolsBox{
    margin-left: 45px;
    border:solid 1px #fcc632;
    background-color: #12151a;
    width:550px;
    height:550px;
}
.toolsSideBox{
    background-color: #fcc632;
    width: 550px;
    height: 50px;
}
.toolsSideBoxText{
    margin-top: -55px;
}

/* ------------------------------ */

/* -- Projects/Tools Page -- */

.projectsToolsPage{
    display: inline-grid;
    grid-template-columns: 100%;
}
.projectsToolsBox{
    border:solid 1px #fcc632;
    background-color: #12151a;
    width:550px;
    height:550px;
}
.projectsToolsImage{
    border:solid 1px #fcc632;
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

/* ------------------------------ */