@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');


/* -- the core for the pages --*/

body {
    background: rgb(34,42,53);
    background-image: #484747;
    width: 100%;
    height: 100%;

    margin:auto;
}
a{
    border:none;
}
a.orange{
    color: #00cdf9;
}
hr.collum {
    display:block;
    border:0px;                                      
    height:10px;
    width:270px;
    color:#f3d88d;
    border-top: 3px double #00cdf9;
    overflow: visible;
}
h1 {
    font-family: "Lato", sans-serif;
    font-style:normal;
    font-size: 18px;
    color: #00cdf9;
    line-height: 0px;
    padding: 3px;
}
h1.black{
    color:rgb(0, 0, 0);
}
h2 {
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 22px;
    color: #00cdf9;
    line-height: 0px;
    padding:5px;
}
h3 {
    font-family: "Lato", sans-serif;
    font-style:normal;
    font-size: 32px;
    color: #00cdf9;
    line-height: 0px;
    padding: 3px;
}
h3.white{
    color:#ffffff;
    padding:0px;
}
h3.black{
    color:#000000;
    padding:0px;
}
h3.italic.white{
    color:#ffffff;
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding:0px;
}
p{
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
p.italic{
    font-style: italic;
}
p.white{
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1em;
    color:#fff;
}
p.white.italic{
    font-style: italic;
    color: rgb(204, 204, 204);
}
ul{
    list-style-type:square;
    padding:1px;
}
li.title{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #00cdf9;
}
li.title.i{
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
}
li.italic{
    font-family: "Oswald", sans-serif;
    font-style: italic;
    font-weight: 200;
    color: rgb(204, 204, 204);
}

/* ----------------------------------- */

/* -- Components -- */
.bigasdev{
    position: absolute;
    image-rendering: pixelated;
    width: 10%;
}

.smallButton {
    position: relative;
    width: auto;
    height: auto;
    right: 215px;
    top: 21px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    filter:drop-shadow(0 0 0.95rem #000000b0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.smallButtonBanner{
    border: solid 1px transparent;
}
.smallButtonBanner:hover{
    border: 1px solid #ffffff;
    cursor: pointer;
}
.smallButton.github {
    right: -215px;
}
.button {
    font-family: "Lato", sans-serif;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border:0px;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    width: 15%;
    height: 30px;
    max-width: 75px;
    max-height: 30px;
    background-color:#00cdf9;
    color :rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.button.selected{
    background-color:#94fdff;
    border: 1px solid #ffff;
}
.button.large {
    font-size: .7rem;
    font-weight: bold;
    width:150px;
    height:40px;
    padding: 3px;
}
.button:hover{
    cursor: pointer;
    background-color:#94fdff;
}
.smallButton:hover{
    cursor: pointer;
    filter:drop-shadow(0 0 0.15rem rgba(255, 255, 255, 0.329));
}
.smallButton.github:hover{
    cursor: pointer;
}

/* ----------------- */

/* -- Index -- */

.bannerBar{
    display: block  ;
    background: rgb(34,42,53);
    background: linear-gradient(0deg, rgba(34,42,53,1) 0%, rgba(5,59,22,1) 0%, rgba(62,74,125,1) 100%);
    filter:drop-shadow(0 1.5rem 1.95rem #000000b0);
    position: relative;
    max-width: 3920px;
}
.bannerRepeating{
    position: absolute;
    top:3.3rem;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url('Art/bannerrepeat.png');
    background-repeat: repeat-x;
    z-index: -1;
}

.topBar{
    position: absolute;
    top: 90%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.logo {
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 626%;
    min-width: 20px;
    max-width: 820px;
    background-repeat: no-repeat;
    z-index: 999;
    background-position: center center;
}
@media (max-width: 420px){
    
    .logo{margin-left: -12.15rem;}
}

.game-tab-box{
    background-color: #12151a;
    border-radius: 15px;
}

.game-tab{
    grid-template-columns: repeat(auto-fit, minmax(200px, .25fr));
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.littlebox {
    font-family: "Lato", sans-serif;
    margin: 15px auto 0 auto;
    margin-top: 3rem;
    width: 49.6%;
    min-width: 200px;
    height: 40px;
    padding: 5px;
    background: #00cdf9;
    justify-content: center;
}
.gameBox{
    margin: 15px auto 0 auto;
    image-rendering: crisp-edges;
    width: 15%;
    min-width: 85px;
    height: 25%;
    padding: 2px;
    border: solid 1px transparent;
    filter:drop-shadow(.75rem .75rem .75rem #000000b0);
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    transition: .15s;
}
.gameBox.border{
    border: 1px solid #00cdf9;
    z-index: 2;
    box-shadow: 0px 6px 16px rgb(0 0 0 / 80%);
}
.gameBox:hover{
    cursor: pointer;
    border: 1px solid #00cdf9;
}
.gameBox.little{
    margin: 0;
    image-rendering: crisp-edges;
    width: 15%;
    height: 25%;
    padding: 0px;
    border: solid 1px transparent;
}
.gameBox.little:hover{
    border: 1px solid #00cdf9;
}
.gameBox.little.noBorder{
    width: 15%;
    min-width: 185px;
    min-height: 185px;
}
.gameBox.little.border{
    border: 1px solid #00cdf9;
    width: 25%;
    min-width: 185px;
    min-height: 185px;
    height: auto;
}
.gameJamGrid{
    display: grid;
    grid-template-columns: repeat(5, 180px);
    margin-top: 1.65rem;
    margin-left: -.27rem;
    width: 100%;
    height: auto;
}
@media (max-width: 450px){
    
    .gameJamGrid { grid-template-columns: repeat(1,1fr);}
}

/* ---------------------------------- */

/* -- Game Page -- */

.videoBox{
    width: 720px;
    height: 415px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding:30px;
}
.gamePageBox{
    background-color: #12151a;
    border-radius: 15px;
    margin: auto;
    margin-top: 2rem;
    padding: 20px;
    width: 800px;
}
.collums{
    margin: auto;
    justify-content: center;
    image-rendering: crisp-edges;
    align-items: center;
    padding:20px;
}
.screenShot{
    max-width: 125px;
    max-height: 125px;
    padding: 0px;
    filter:drop-shadow(0 0 0.65rem #000000b0);
    display:block;
    justify-content: center;
}
.screenShot.border{
    border: 3px solid #00cdf9;
}
.featureCollums{
    display: flex;
    flex-wrap: wrap;
    margin-left: 13rem;
}
.featureCollums.screenShoots{
    margin-left: 20rem;
}

/* ------------------------------ */

/* -- Projects Page -- */
.projectsBox{
    background-color: #12151a;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
}

.projectsCollum{
    display: inline-grid;
}
.projectBox{
    background-color: white;
    width: 200px;
    height: 200px;
    border: solid 1px #00cdf9;
    filter:drop-shadow(0 0 0.95rem #000000b0);
}
.projectBox:hover{
    cursor:pointer;
    width: 205px;
    height: 205px;
    border: solid 2px #00cdf9;
}
.projectSidebox{
    justify-content: center;
    align-content: center;
    align-items: center;
    border:solid 1px #00cdf9;
    margin-left: 120px;
    margin-top: -160px;
    background-color: #12151a;
    width:450px;
    height:150px;
}
.projectSideboxText{
    text-indent: 85px;
    text-align: left;
    margin-top: 50px;
}
.projectSideboxBar{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: -160px;
    background-color: #00cdf9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 450px;
    height: 50px;
}
.projectSideboxBarText{
    text-indent: 85px;
    text-align: left;
    margin-top: -8px;
}
.projectDatebar{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 495px;
    margin-top: -85px;
    background-color: #00cdf9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 75px;
    height: 75px;
}

/* ------------------------------ */

/* -- Tools Page -- */
.toolsCollum{
    display: grid;
    grid-template-columns: 33%33%33%;
}

.toolsBox{
    margin-left: 45px;
    border:solid 1px #00cdf9;
    background-color: #12151a;
    width:550px;
    height:550px;
}
.toolsSideBox{
    background-color: #00cdf9;
    width: 550px;
    height: 50px;
}
.toolsSideBoxText{
    margin-top: -55px;
}

/* ------------------------------ */

/* -- Projects/Tools Page -- */

.projectsToolsPage{
    display: inline-grid;
    grid-template-columns: 100%;
}
.projectsToolsBox{
    border:solid 1px #00cdf9;
    background-color: #12151a;
    width:550px;
    height:550px;
}
.projectsToolsImage{
    border:solid 1px #00cdf9;
    width: 100px;
    height: 100px;
    margin-top: 10%;
}

/* ------------------------------ */

/* -- About me page -- */

.aboutMeBox{
    background-color: #12151a;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
}

.aboutMeProfilePic{
    border: 3px solid #00cdf9;
}
.aboutMeProfilePic.art{
    margin-left: 350px;
}
.aboutMeBox.buttons{
    justify-content: left;
    text-align: center;
}
.aboutMeTextAndProfile{
    display: grid;
    grid-template-columns: 1fr .4fr;
    gap: 1rem;
}

/* ------------------------------ */